@charset "UTF-8";
@font-face {
  font-family: "Valery";
  src: url("../fonts/valery.eot");
  src: url("../fonts/valery.eot?#iefix") format("embedded-opentype"), url("../fonts/valery.woff2") format("woff2"), url("../fonts/valery.woff") format("woff"), url("../fonts/valery.ttf") format("truetype"), url("../fonts/valery.svg#Valery") format("svg");
}
@font-face {
  font-family: "fontello";
  src: url("../fonts/fontello.eot?40166400");
  src: url("../fonts/fontello.eot?40166400#iefix") format("embedded-opentype"), url("../fonts/fontello.woff?40166400") format("woff"), url("../fonts/fontello.ttf?40166400") format("truetype"), url("../fonts/fontello.svg?40166400#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Document ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections ========================================================================== */
/**
  * Remove the margin in all browsers.
  */
body {
  margin: 0;
}

/**
  * Render the `main` element consistently in IE.
  */
main {
  display: block;
}

/**
  * Correct the font size and margin on `h1` elements within `section` and
  * `article` contexts in Chrome, Firefox, and Safari.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content ========================================================================== */
/**
  * 1. Add the correct box sizing in Firefox.
  * 2. Show the overflow in Edge and IE.
  */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * Remove the gray background on active links in IE 10.
     */
a {
  background-color: transparent;
}

/**
  * 1. Remove the bottom border in Chrome 57-
  * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
  */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
  * Add the correct font weight in Chrome, Edge, and Safari.
  */
b,
strong {
  font-weight: bolder;
}

/**
  * 1. Correct the inheritance and scaling of font size in all browsers.
  * 2. Correct the odd `em` font sizing in all browsers.
  */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
  * Add the correct font size in all browsers.
  */
small {
  font-size: 80%;
}

/**
  * Prevent `sub` and `sup` elements from affecting the line height in
  * all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content ========================================================================== */
/**
  * Remove the border on images inside links in IE 10.
  */
img {
  border-style: none;
}

/* Forms ========================================================================== */
/**
  * 1. Change the font styles in all browsers.
  * 2. Remove the margin in Firefox and Safari.
  */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
  * Correct the inability to style clickable types in iOS and Safari.
  */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
  * Remove the inner border and padding in Firefox.
  */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
  * Restore the focus styles unset by the previous rule.
  */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
  * Correct the padding in Firefox.
  */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
  * 1. Correct the text wrapping in Edge and IE.
  * 2. Correct the color inheritance from `fieldset` elements in IE.
  * 3. Remove the padding so developers are not caught out when they zero out
  *    `fieldset` elements in all browsers.
  */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
  * Add the correct vertical alignment in Chrome, Firefox, and Opera.
  */
progress {
  vertical-align: baseline;
}

/**
  * Remove the default vertical scrollbar in IE 10+.
  */
textarea {
  overflow: auto;
}

/**
  * 1. Add the correct box sizing in IE 10.
  * 2. Remove the padding in IE 10.
  */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
  * Correct the cursor style of increment and decrement buttons in Chrome.
  */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Correct the odd appearance in Chrome and Safari.
  * 2. Correct the outline style in Safari.
  */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
  * Remove the inner padding in Chrome and Safari on macOS.
  */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
  * 1. Correct the inability to style clickable types in iOS and Safari.
  * 2. Change font properties to `inherit` in Safari.
  */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive ========================================================================== */
/*
  * Add the correct display in Edge, IE 10+, and Firefox.
  */
details {
  display: block;
}

/*
  * Add the correct display in all browsers.
  */
summary {
  display: list-item;
}

/* Misc ========================================================================== */
/**
  * Add the correct display in IE 10+.
  */
template {
  display: none;
}

/**
  * Add the correct display in IE 10.
  */
[hidden] {
  display: none;
}

.socials {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
  width: 50px;
}
.socials__link {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  color: #999999;
}
.socials__link:not(:last-child):after {
  content: "";
  display: inline-block;
  background-color: #999999;
  width: 50px;
  height: 1px;
  margin: 15px 0;
}
.socials__icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

.scroll-btn {
  transition: all 0.2s ease-in-out;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: unset;
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  color: #333333;
  text-decoration: none;
}
.scroll-btn__text {
  font-weight: 700;
  margin-bottom: 20px;
}
.scroll-btn .custom-icon {
  transition: all 0.2s ease-in-out;
  font-size: 45px;
}
.scroll-btn .custom-icon.icon-arrow-up {
  transform: rotate(180deg);
}

html {
  font-size: 100%;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: unset;
  align-items: unset;
  font-family: "Noto Sans", sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: 26.4px;
  font-weight: 400;
  background-color: #efefef;
}

.custom-icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
header .header-inner {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: unset;
  padding: 1.5rem 1rem;
}
header .logo-link {
  font-family: "Valery";
  text-decoration: none;
  color: #ee224a;
  font-size: 32px;
}
header .mobile-menu-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: unset;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
header .mobile-menu-btn .hamburger {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-evenly;
  align-items: unset;
  flex-direction: column;
  height: 30px;
  width: 30px;
}
header .mobile-menu-btn .hamburger__bar {
  width: 100%;
  height: 2px;
  background-color: #333333;
}
header .mobile-menu-btn__text {
  font-size: 14px;
}
@media only screen and (min-width: 770px) {
  header .mobile-menu-btn {
    display: none;
  }
}
header .mobile-menu-wrapper {
  position: absolute;
  background-color: #333333;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  transform: translateY(-100%);
}
@media only screen and (min-width: 770px) {
  header {
    -webkit-box-flex: 0 0 200px;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 0 0 200px;
    /* OLD - Firefox 19- */
    -webkit-flex: 0 0 200px;
    /* Chrome */
    -ms-flex: 0 0 200px;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: unset;
    position: relative;
  }
  header .header-inner {
    position: fixed;
    flex-direction: column;
  }
  header .logo-link {
    margin-bottom: 20px;
  }
}

.nav__list {
  font-size: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav__link {
  color: #333333;
  text-decoration: none;
}
.nav--desktop {
  display: none;
}
.nav--mobile__link {
  color: #999999;
}
@media only screen and (min-width: 770px) {
  .nav.nav--desktop {
    display: block;
  }
}

.active-menu {
  overflow-y: hidden;
}
.active-menu header .mobile-menu-btn {
  color: #999999;
  z-index: 2;
}
.active-menu header .mobile-menu-btn .hamburger {
  display: inline-block;
}
.active-menu header .mobile-menu-btn .hamburger__bar {
  background-color: #999999;
}
.active-menu header .mobile-menu-btn .hamburger__bar:first-child {
  display: none;
}
.active-menu header .mobile-menu-btn .hamburger__bar:nth-child(2) {
  transform: rotate(-45deg);
}
.active-menu header .mobile-menu-btn .hamburger__bar:last-child {
  transform: rotate(45deg);
}
.active-menu header .nav--mobile {
  height: 100%;
}
.active-menu header .nav--mobile__list {
  padding: 50px;
}
.active-menu .mobile-menu-wrapper {
  transform: translateY(0);
}
.active-menu main,
.active-menu aside {
  z-index: -1;
}

main {
  -webkit-box-flex: auto;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: auto;
  /* OLD - Firefox 19- */
  -webkit-flex: auto;
  /* Chrome */
  -ms-flex: auto;
  height: 100vh;
  z-index: 0;
}
main:before {
  content: "Hello";
  position: absolute;
  font-family: "Valery";
  font-size: 200px;
  color: #eaeaea;
  left: -80px;
  bottom: 30%;
  z-index: -1;
  transform: rotate(90deg);
}
main:after {
  content: "こんにちは";
  position: absolute;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 70px;
  color: #eaeaea;
  left: -120px;
  bottom: 30%;
  z-index: -1;
  transform: rotate(90deg);
}
main .section-panel {
  height: 100vh;
}
main .section-panel__inner {
  height: 100%;
  padding: 100px 2rem 0;
}
main .section-panel__heading {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 50px;
}
main .section-panel__para {
  margin-bottom: 50px;
}
@media only screen and (min-width: 770px) {
  main:before {
    font-size: 250px;
    left: 0;
    bottom: 200px;
    transform: rotate(0deg);
  }
  main:after {
    font-size: 80px;
    left: 0;
    bottom: 80px;
    transform: rotate(0deg);
  }
}

aside {
  position: fixed;
  right: 1rem;
  top: 100px;
}
@media only screen and (min-width: 770px) {
  aside {
    -webkit-box-flex: 0 0 100px;
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 0 0 100px;
    /* OLD - Firefox 19- */
    -webkit-flex: 0 0 100px;
    /* Chrome */
    -ms-flex: 0 0 100px;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: unset;
    position: relative;
    right: unset;
  }
  aside .aside-inner {
    position: fixed;
  }
}

#landing-panel {
  position: relative;
}
#landing-panel .scroll-btn {
  position: absolute;
  right: 15%;
  bottom: 10%;
}
@media only screen and (min-width: 770px) {
  #landing-panel .scroll-btn {
    right: 5%;
    bottom: 10%;
  }
}
