@use "../partials/mixins" as *;
@import "../partials/palette";
@import "../partials/typography";

aside {
	display: none;

	@include mediaQuery("min", 450px) {
		display: block;
		position: fixed;
		right: 1rem;
		top: 110px;
		height: 20%;
	}

	@include mediaQuery("min", 550px) {
		right: 2rem;
	}

	@include mediaQuery("min", 770px) {
		@include flex(0 0 100px);
		@include displayFlex(center, unset);
		position: relative;
		right: unset;

		.aside-inner {
			position: fixed;
			right: 25px;
		}
	}
}
