@use "../partials/mixins" as *;
@import "../partials/palette";
@import "../partials/typography";

// Html
html {
	font-size: 100%;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

// Body
body {
	@include displayFlex(unset, unset);
	position: relative;
	font-family: $default-font;
	color: $black-light;
	font-size: 16px;
	line-height: 26.4px;
	font-weight: 400;
	background-color: $white-bg;
	transition: all 0.5s ease-in-out;

	&.black-bg {
		@include transitionEaseInOut(0.5s);
		background-color: $black-bg;
	}

	&.active-modal {
		overflow-y: hidden;
	}
}

// Global class
// Custom icon
.custom-icon {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
}

.bold-text {
	font-weight: 700;
}

// Subtle animation on the element on scroll
.animation-on-scroll {
	@include transitionEaseInOut(1.5s);
	position: relative;
	transform: translateY(80px);
	opacity: 0;

	&.active {
		transform: translateY(0);
		opacity: 1;
	}
}
