@use "../partials/mixins" as *;
@import "../partials/palette";
@import "../partials/typography";

// Html
html {
	font-size: 100%;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
}

// Body
body {
	@include displayFlex(unset, unset);
	font-family: $default-font;
	color: $black-light;
	font-size: 16px;
	line-height: 26.4px;
	font-weight: 400;
	background-color: $white-bg;

	&.black-bg {
		background-color: $black-bg;
	}
}

// Custom icon
.custom-icon {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
}
