@use "../partials/mixins" as *;
@import "../partials/palette";
@import "../partials/typography";

footer {
	@include displayFlex(center, center);
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $black-bg;
	height: 40px;

	.copyright {
		display: block;
		color: $grey-white;
		font-size: 14px;
	}
}
