@use "../partials/mixins" as *;
@import "../partials/palette";
@import "../partials/typography";

#landing-panel {
	position: relative;

	&:before {
		content: "Hello";
	}

	&:after {
		content: "こんにちは";
	}

	.scroll-btn {
		position: absolute;
		right: 20px;
		bottom: 8%;
	}
}

// For the black background landing styling
.black-bg #landing-panel {
	&:before,
	&:after {
		color: $black-light;
	}

	.scroll-btn {
		color: $grey;
	}
}
