@use "../partials/mixins" as *;
@import "../partials/palette";
@import "../partials/typography";

#landing-panel {
	position: relative;

	.scroll-btn {
		position: absolute;
		right: 15%;
		bottom: 10%;

		@include mediaQuery("min", 770px) {
			right: 5%;
			bottom: 10%;
		}
	}
}
