@use "../partials/mixins" as *;
@import "../partials/palette";
@import "../partials/typography";

main {
	@include flex(auto);
	height: 100vh;
	z-index: 0;

	.section-panel {
		height: 100vh;

		&__inner {
			height: 100%;
			padding: 100px 2rem 0;
		}

		&__heading {
			font-size: 32px;
			font-weight: 700;
			margin-bottom: 50px;
		}

		&__para {
			margin-bottom: 50px;
		}
	}
}
