@use "../partials/mixins" as *;
@import "../partials/palette";
@import "../partials/typography";

main {
	@include flex(auto);
	height: 100vh;

	&:before {
		content: "Hello";
		position: absolute;
		font-family: "Valery";
		font-size: 200px;
		color: #eaeaea;
		left: -80px;
		bottom: 30%;
		z-index: -1;
		transform: rotate(90deg);
	}

	&:after {
		content: "こんにちは";
		position: absolute;
		font-family: "Noto Sans JP", sans-serif;
		font-size: 70px;
		color: #eaeaea;
		left: -120px;
		bottom: 30%;
		z-index: -1;
		transform: rotate(90deg);
	}

	img {
		width: 100%;
		height: 100%;
		opacity: 0;
	}

	@include mediaQuery("min", 770px) {
		&:before {
			font-size: 250px;
			left: 0;
			bottom: 200px;
			transform: rotate(0deg);
		}

		&:after {
			font-size: 80px;
			left: 0;
			bottom: 80px;
			transform: rotate(0deg);
		}
	}
}
