@use "../partials/mixins" as *;
@import "../partials/palette";
@import "../partials/typography";

#works-panel {
	display: inline-flex;
	flex-direction: column;
	width: 100%;

	&:before {
		content: "Works";
	}

	&:after {
		content: "実績";
	}

	a {
		text-decoration: none;
		color: $black-light;
	}

	.featured-works-wrapper {
		@include displayFlex(unset, unset);
		flex-wrap: wrap;
		max-width: 1200px;
	}

	.article-link-wrapper {
		@include displayFlex(unset, unset);
		width: 100%;
		margin-bottom: 80px;

		&:nth-child(2n) {
			justify-content: flex-end;
		}
	}

	.work {
		margin-bottom: 20px;
	}

	// For cta btn
	.cta-btn {
		@include displayFlex(unset, unset);

		&__text {
			display: block;
			font-size: 20px;
			margin-right: 75px;
		}

		.custom-icon {
			transform: rotate(-90deg);
			display: inline-block;
			font-size: 64px;
		}
	}

	@include mediaQuery("min", 770px) {
		.article-link-wrapper {
			margin-bottom: 60px;

			&:nth-child(2n) {
				justify-content: unset;
			}

			&:nth-child(2n - 1) {
				justify-content: flex-end;
			}
		}
	}
	@include mediaQuery("min", 1000px) {
		.article-link-wrapper {
			&:nth-child(3) {
				margin-right: 100px;
			}
		}
	}
	@include mediaQuery("min", 1400px) {
		.article-link-wrapper {
			&:nth-child(3) {
				margin-right: 150px;
			}
		}
	}
}
