@use "../../partials/mixins" as *;
@import "../../partials/palette";
@import "../../partials/typography";

#works-landing-panel {
	position: relative;

	&:before {
		@include transitionEaseInOut(0.5s);
		content: "Works";
		font-size: 140px;
	}

	&:after {
		@include transitionEaseInOut(0.5s);
		content: "実績一覧";
		left: -30px;
	}

	@include mediaQuery("min", 450px) {
		&:after {
			left: -75px;
		}
	}
}
