@import "../partials/palette";
@import "../partials/typography";

// For the logo
.logo-link {
	font-family: $accent-font;
	text-decoration: none;
	color: $pink;
	font-size: 32px;
}

// For the navigation
.nav {
	&__list {
		list-style: none;
	}

	&__link {
		color: $black-light;
		text-decoration: none;
	}
}
