@use "../partials/mixins" as *;
@import "../partials/palette";

.scroll-btn {
	@include transitionEaseInOut(0.2s);
	@include displayFlex(unset, center);
	display: inline-flex;
	flex-direction: column;
	color: $black-light;
	text-decoration: none;

	&__text {
		font-weight: 700;
		margin-bottom: 20px;
	}

	.custom-icon {
		@include transitionEaseInOut(0.2s);
		font-size: 45px;
	}
}
