@use "../partials/mixins" as *;
@import "../partials/palette";

.socials {
	@include displayFlex(unset, center);
	flex-direction: column;
	list-style: none;
	width: 50px;

	&__item {
		&:after {
			content: "";
			display: inline-block;
			background-color: $grey;
			width: 45px;
			height: 1px;
			margin: 15px 0;
		}
	}

	&__link {
		@include displayFlex(unset, center);
		flex-direction: column;
		text-decoration: none;
		color: $grey;

		@include onHoverFocus {
			animation: hoverAnimation 0.5s ease-in-out;
		}
	}

	&__icon {
		@include customIcon;
		font-size: 20px;

		&--github {
			font-size: 24px;
		}
	}
}
