@use "../partials/mixins" as *;
@import "../partials/palette";

.work {
	&__link {
		@include displayFlex(unset, unset);
		display: inline-flex;
	}

	&__thumbnail {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		width: 260px;
		height: 175px;
	}

	@include mediaQuery("min", 640px) {
		&__thumbnail {
			width: 312px;
			height: 210px;
		}
	}

	@include mediaQuery("min", 1300px) {
		&__thumbnail {
			width: 374px;
			height: 252px;
		}
	}
}
